/* THE OUTFIT FOR THE WEBSITE */


/* ------------------------------
------------ESSENTIALS------------ 
-------------------------------- */

a:link {color:#999;text-decoration:none;}
a:visited {color:#999;text-decoration:none;}
a:hover {color:#00ffff;text-decoration:none;}
a:active {color:#00ffff;text-decoration:none;}

::selection {
       background-color: transparent;
       color: #00ffff;
       }

#wrapper {
	width: 960px;
	margin: 0 auto;	
	}

body {
	font-family: Arial, Helvetica, Sans-Serif;
	color:#000;
	font-size: 11px;
	font-weight:10;
	background-color: #000;
	padding-left: 10px;
	padding-bottom: 0px;
	padding-right: 10px;
	padding-top: 0px;
	}
	::-webkit-scrollbar-thumb:vertical {  
	background-color:#000;
	border: 2px solid white;
	height:100px;
	}
	::-webkit-scrollbar-thumb:horizontal { 
	background-color:#000;
	border: 2px solid white;
	height:12px !important;
	}
	::-webkit-scrollbar { 
	height:12px;
	width:12px; 
	background-color:#000;
	}

p {
	color: #fff;
	}
	
hr {
border: dashed 1px #fff;
}
		
.textbox1 {
			position: absolute;
			left: 240px;
			top: 200px;
			line-height:3em;
			letter-spacing:0.06em;
			width: 800px;
			}

.textbox {
			position: absolute;
			left: 320px;
			top: 300px;
			line-height:1.2em;
			letter-spacing:0.06em;
			max-width: 525px;
			min-width: 50px;
			}

/* ------------------------------
--------------FOOTER-------------- 
-------------------------------- */

.copyright{
    position:fixed;
    bottom:10px;
    left:25px;
    z-index:9999999999;
    font-family: helvetica, arial, sans-serif;
    font-size: 10px;
    color:#999;
}

.socialmedia{
    position:fixed;
    bottom:10px;
    right:20px;
    z-index:9999999999;
    font-family: helvetica, arial, sans-serif;
    font-size: 10px;
    color:#999;
}
	
/* ------------------------------
-------------TEXTSEX--------------- 
-------------------------------- */

/* home.html page */
.home {
	text-align: center;
	}


/* other pages */
#scrambler{
	color: #fff;
	font-size: 14px;
	padding: 0px 0 0px;
	width: 400px;
	position: absolute;
	font-family:'Arial', Helvetica, sans-serif;
}

#title{
	color: #fff;
	font-size: 25px;
	padding: 0px 0 0px;
	position: absolute;
	font-family:'Arial', Helvetica, sans-serif;
}

/* ------------------------------
----------SWAG MENU BAR------------ 
-------------------------------- */

.logo {
	display: block;
	position: absolute;
	overflow:hidden;
	top: 200px;
	left: 0px;
	}

.l0go {
	display: block;
	position: fixed;
	width: 200px;
	height: 100%;
	top: 0px;
	background-color: #000;
	z-index: 999999;
	}

#sidebar {
height:325px;
width: 200px;
overflow:hidden;
position:absolute;
left: 0px;
top: 300px;
}	

#menu {
width:400px;
list-style:none;
padding:0;
margin:0;
top:0;
position:relative;
height:275px;
width:300px;
}

#menu li {
padding:3px 0;
text-align:left;
display:block;
cursor:hand;
cursor:pointer;
}

#menu li a {
color:#fff;
font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
font-size:10px;
font-weight:200;
letter-spacing:0.06em;
padding:0px 0px 0px 10px;
text-decoration:none;
}

#menu li span {
font-family:Arial, Helvetica, Arial, sans-serif;
font-size:9px;
color:#999;
}

/* ------------------------------
----------LIGHTBOX TINGZ----------- 
-------------------------------- */

/* line 317, ../sass/screen.sass */
.imageRow {
  *zoom: 1;
  margin: 0px 0;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.imageRow:after {
  content: "";
  display: table;
  clear: both;
}
/* line 320, ../sass/screen.sass */
.imageRow .single {
  float: left;
}
/* line 322, ../sass/screen.sass */
.imageRow .single a {
  float: left;
  display: block;
  background: rgba(255, 255, 255, 0.1);
  padding: 0px;
  line-height: 1em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  margin-right: 40px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* line 335, ../sass/screen.sass */
.imageRow .single a:hover {
  background-color: #8ad459;
}

/* line 343, ../sass/screen.sass */
.imageRow .set:hover {
  background: rgba(255, 255, 255, 0.2);
}
/* line 346, ../sass/screen.sass */
.imageRow .set .single a {
  background: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-right: 0;
}
			
/* line 6, ../sass/lightbox.sass */
#lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  opacity: 0.85;
  display: none;
}

/* line 15, ../sass/lightbox.sass */
#lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-family: "Helvetica", tahoma, verdana, arial, sans-serif;
  font-weight: normal;
}
/* line 24, ../sass/lightbox.sass */
#lightbox img {
  width: auto;
  height: auto;
}
/* line 27, ../sass/lightbox.sass */
#lightbox a img {
  border: none;
}

/* line 30, ../sass/lightbox.sass */
.lb-outerContainer {
  position: relative;
  background-color: black;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 39, ../sass/lightbox.sass */
.lb-container {
  padding: 5px;
}

/* line 42, ../sass/lightbox.sass */
.lb-loader {
  position: absolute;
  top: 40%;
  left: 0%;
  height: 5%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 51, ../sass/lightbox.sass */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 59, ../sass/lightbox.sass */
.lb-container > .nav {
  left: 0;
}

/* line 62, ../sass/lightbox.sass */
.lb-nav a {
  outline: none;
}

/* line 65, ../sass/lightbox.sass */
.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
  /* Trick IE into showing hover */
  display: block;
}

/* line 72, ../sass/lightbox.sass */
.lb-prev {
  left: 0;
  float: left;
}

/* line 76, ../sass/lightbox.sass */
.lb-next {
  right: 0;
  float: right;
}

/* line 81, ../sass/lightbox.sass */
.lb-prev:hover {
  background: url(../images/prev.png) left 48% no-repeat;
}

/* line 85, ../sass/lightbox.sass */
.lb-next:hover {
  background: url(../images/next.png) right 48% no-repeat;
}

/* line 88, ../sass/lightbox.sass */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 95, ../sass/lightbox.sass */
.lb-data {
  padding: 0 10px;
  color: #bbbbbb;
}
/* line 98, ../sass/lightbox.sass */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
/* line 103, ../sass/lightbox.sass */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
/* line 107, ../sass/lightbox.sass */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 11px;
}
/* line 112, ../sass/lightbox.sass */
.lb-data .lb-close {
  width: 35px;
  float: right;
  padding-bottom: 0.7em;
  outline: none;
}
/* line 117, ../sass/lightbox.sass */
.lb-data .lb-close:hover {
  cursor: pointer;
}

/* ------------------------------
------------
	 	INDIVIDUAL PAGES
				      -------------- 
-------------------------------- */



/* ------------------------------
--------------VISION-------------- 
-------------------------------- */

.infobar1{
    background-color:#111;
    height:30px;
    position:fixed;
    bottom:0px;
    left:20px;
    z-index:9999999999;
    font-family: helvetica, arial, sans-serif;
    font-size: 10px;
    text-align: right;
    color:#111;
    right: 10px;
}
span#description{
    display:none;
}
span#loading{
    display:none;
    padding-right: 0px;
    background:transparent url(img/loading.gif) no-repeat center right;
}
#thumbsWrapper{
    overflow:hidden;
    position:fixed;
    height:100%;
    width:100%;
    left:0px;
    right:0px;
    bottom:0px;
}
#content{
   position:absolute;
   top:0px;
   height:100%;
   width:100%;
   left:0px;
   background-color:#111;
   overflow-y:scroll;
   display:none;  
}
#content img{
    float:left;
    margin:1px;
    cursor:pointer;
    opacity:0.5;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40);
}
.placeholder{
    float:left;
    clear:both;
    width:100%;
    height:30px;
}
#panel{
    background-color:#222;
    width:100%;
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    height:0px;
    text-align:center; 
}
#panel img{
    cursor:pointer;
    position:relative;
    border:1px solid #000;
    -moz-box-shadow:0px 0px 10px #111;
    -webkit-box-shadow:0px 0px 10px #111;
    box-shadow:0px 0px 10px #111;
    display:none;
}

#wrapper{
    position:relative;
    margin:0px auto 0px auto;
}
a#next,
a#prev{
    width:40px;
    height:40px;
    position:fixed;
    cursor:pointer;
    outline:none;
    display:none;
    background:#aaa url(img/nav.png) no-repeat top left;
}
a#next:hover, a#prev:hover{
    background-color:#fff;
}
a#next{
    right:0px;
    top:50%;
    margin-top:-20px;
    background-position: 0px 0px;
}
a#prev{
    left:0px;
    top:50%;
    margin-top:-20px;
    background-position: 0px -40px;
}

/* ------------------------------
------------BLUE LABEL------------ 
-------------------------------- */

.bluelabel {
		position: absolute;
			left: 250px;
			top: 0px;
			height: 100%;
			width: 530px;
			padding-top: 175px;
			padding-left: 70px;
			padding-right: 0px;
			background-color: #fff;
		}
		
/*
.bluelabel {
	position: absolute;
	height: 440px;
	top: 200px;
	width: 325%;
	z-index: -999;
	background-color: #fff;
	}
*/

.bluelabelbuy {
	position: absolute;
	height: 500px;
	top: 200px;
	width: 100%;
	z-index: -999;
	background-color: #fff;
	}

.bluelabeltext {
	position: absolute;
	top: 25px;
	left: 650px;
	width: 500px;
	font-size: 10px;
	line-height:1.2em;
	}
	
.begin {
		width: 200px;
		height: 200px;
   		margin: 0px;
   		float: left;
  		overflow: hidden;
   		position: relative;
		}
		
/* GALLERY BLUE LABEL */
/* Spin Transition */

.view {
   width: 150px;
   height: 150px;
   margin: 0px;
   float: left;
   border: 0px solid #fff;
   overflow: hidden;
   position: relative;
   text-align: center;
}
.view .mask,.view .content {
   width: 150px;
   height: 150px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view h2 {
   font-family: Helvetica, sans-serif;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 11px;
   padding: 12px;
   background: rgba(0, 0, 0, 0.3);
   margin: 50px 0 0 0;
}
.view p {
   font-family: Helvetica, serif;
   font-size: 10px;
   position: relative;
   color: #fff;
   padding: 30px 40px 40px;
   text-align: center;
}
.view a.info {
   display: inline-block;
   text-decoration: none;
   font-size: 10px;
   font-family: Helvetica, serif;
   padding: 5px 10px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 0px #000;
   -moz-box-shadow: 0 0 0px #000;
   box-shadow: 0 0 0px #000;
}
.view a.info: hover {
   -webkit-box-shadow: 0 0 0px #000;
   -moz-box-shadow: 0 0 0px #000;
   box-shadow: 0 0 0px #000;
}

.view-seventh img {
   -webkit-transition: all 0.5s ease-out;
   -moz-transition: all 0.5s ease-out;
   -o-transition: all 0.5s ease-out;
   -ms-transition: all 0.5s ease-out;
   transition: all 0.5s ease-out;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.view-seventh .mask {
   background-color: rgba(0,0,255,0.7);
   -webkit-transform: rotate(0deg) scale(1);
   -moz-transform: rotate(0deg) scale(1);
   -o-transform: rotate(0deg) scale(1);
   -ms-transform: rotate(0deg) scale(1);
   transform: rotate(0deg) scale(1);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
   -o-transition: all 0.3s ease-out;
   -ms-transition: all 0.3s ease-out;
   transition: all 0.3s ease-out;
}
.view-seventh h2 {
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -o-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   transform: translateY(-200px);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-seventh p {
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -o-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   transform: translateY(-200px);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-seventh a.info {
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -o-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   transform: translateY(-200px);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-seventh:hover img {
   -webkit-transform: rotate(720deg) scale(0);
   -moz-transform: rotate(720deg) scale(0);
   -o-transform: rotate(720deg) scale(0);
   -ms-transform: rotate(720deg) scale(0);
   transform: rotate(720deg) scale(0);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.view-seventh:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px) rotate(0deg);
   -moz-transform: translateY(0px) rotate(0deg);
   -o-transform: translateY(0px) rotate(0deg);
   -ms-transform: translateY(0px) rotate(0deg);
   transform: translateY(0px) rotate(0deg);
   -webkit-transition-delay: 0.4s;
   -moz-transition-delay: 0.4s;
   -o-transition-delay: 0.4s;
   -ms-transition-delay: 0.4s;
   transition-delay: 0.4s;
}
.view-seventh:hover h2 {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.7s;
   -moz-transition-delay: 0.7s;
   -o-transition-delay: 0.7s;
   -ms-transition-delay: 0.7s;
   transition-delay: 0.7s;
}
.view-seventh:hover p {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.6s;
   -moz-transition-delay: 0.6s;
   -o-transition-delay: 0.6s;
   -ms-transition-delay: 0.6s;
   transition-delay: 0.6s;
}
.view-seventh:hover a.info {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.5s;
   -moz-transition-delay: 0.5s;
   -o-transition-delay: 0.5s;
   -ms-transition-delay: 0.5s;
   transition-delay: 0.5s;
}

/* ------------------------------
------------BLACK LABEL----------- 
-------------------------------- */

.black {
			position: absolute;
			left: 250px;
			top: 0px;
			height: 175%;
			max-width: 700px;
			min-width: 600px;
			background-color: #fff;
			}
.blackhome {
			position: absolute;
			left: 250px;
			top: 0px;
			height: 175%;
			max-width: 700px;
			min-width: 600px;
			background-color: #000;
			border-style: solid;
			border-left-width: 1px;
			border-right-width: 1px;
			border-top-width: 0px;
			border-bottom-width: 0px;
			border-color: #fff;
			}

.purchase {
	position: absolute;
	left: 85px;
	right: 70px;
	}
	
.page {
	position: fixed;
	left: 900px;
	top: 200px;
	text-align: left;
	font-size: 15px;
	font-family: century gothic, arial, sans-serif;
	}

















/* ---
UNUSED CODE/ARCHIVED FOR POTENTIAL FUTURE USES 
(AKA PLEASE DON'T TAMPER/TOUCH)
--- */

/*BLACK LABEL

.clear{
	clear:both;
	}
*/

/* HEADER
.banner {
    background:url(img/bar1.png);
	z-index:100;
	position:fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	font-family: Garamond, Serif;
	z-index:101;
}
.banner .masthead {
    padding:1.5em;
}
 */
 
/* FOOTER 

.footer {
		position: fixed;
		top: 95%;
		background: url(img/bar.jpg);
		z-index: 100;
		width: 100%;
		height: 110%;
		left: 0px;
		color: white;
		padding: 1em;
		font-family: Garamond, Serif;
		}
*/

/*
#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}
*/

/*PURCHASE/GALLERY VIEW/ZOOM MODE
.wrapper{
	width:960px;
	margin:0px auto;
	}
.item{
	float:left;
	width:90%;
	clear:both;
}

.thumb_wrapper a.prev,
.thumb_wrapper a.next{
	width:30px;
	height:30px;
	position:absolute;
	margin-top:-100px;
	outline:none;
	cursor:pointer;
}
.thumb_wrapper a.prev{
	left:-20px;
	background:transparent url(blue/images/fancy_nav_left.png) no-repeat top left;
}
.thumb_wrapper a.next{
	right:250px;
	background:transparent url(blue/images/fancy_nav_right.png) no-repeat top left;
}

.thumb{
	margin-top: 0px;
	margin-left:0px;
	width:200px;
	height:200px;
	overflow:hidden;
	border: 1px solid #fff;
}
.thumb ul{
	list-style:none;
	width:200px;
	height:200px;
}
.thumb ul li{
	float:left;
}
.thumb ul li a img{
	border:0px solid #fff;
}

.clear{
	clear:both;
}
*/